.container {
  display: grid; 
  grid-template-columns: 0.3fr 1.7fr;
  grid-template-rows: 0.3fr 1.7fr 1fr; 
  gap: 0px 0px; 
}
header { grid-area: 1 / 1 / 2 / 3; }
nav { grid-area: 2 / 1 / 4 / 2; }
main { grid-area: 2 / 2 / 4 / 3; }


header { 
  background-color: var(--md-sys-color-surface-container);
  height: 70px;
  width: 100%;
  color: var(--md-sys-color-primary);
  justify-content: center;
  padding-left: 40px;
 }

nav { 
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  background-color: var(--md-sys-color-surface-container);
  font-size: 20px;
  padding-left: 30px;
  gap: 2em;
  
}

main { 
  background-color: var(--md-sys-color-background);
  border-radius: 25px;
  padding: 20px;
  max-width: 1760px;
  overflow: hidden;
  display: inline-block;
  width: 95%;
  height: 95%;
  padding-bottom: 30px;
  margin: 30px;
}
  
