




.container {
  display: grid; 
  grid-template-columns: 0.3fr 1.7fr;
  grid-template-rows: 0.3fr 1.7fr 1fr; 
  gap: 0px 0px; 
}
header { grid-area: 1 / 1 / 2 / 3; }
nav { grid-area: 2 / 1 / 4 / 2; }
main { grid-area: 2 / 2 / 4 / 3; }


header { 
  background-color: var(--md-sys-color-surface-container);
  height: 70px;
  width: 100%;
  color: var(--md-sys-color-primary);
  justify-content: center;
  padding-left: 40px;
 }

nav { 
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  background-color: var(--md-sys-color-surface-container);
  font-size: 20px;
  padding-left: 30px;
  gap: 2em;

}

main { 
  background-color: var(--md-sys-color-background);
  border-radius: 25px;
  padding: 30px;
  /* max-width: 1760px; */
  width:100%;
  overflow-x: hidden;
  overflow-y: scroll; 
  width: 95%;
  height: 100%;
  margin: 20px;
  
  
;
  

}
  
#nav {
  display: flex !important;
}

h1 {
  font-weight: 450;
  font-family: 'Google Sans', Roboto, system-ui;
  font-size: 30px;
  
  
}

h2{
  font-size: 88px;
  margin: 10px 0px 3px 0px;
  padding-left: 10px;
}

p {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  position: relative;
  font-weight: 600;

  
}

p2 {
  font-size: 28px;
  padding-bottom: 10px;
  font-weight: 600;
  padding: 10px;
 
}

img{
  overflow: clip;
  border-radius: 25px;
  justify-self: start;
  max-height: 20em;
  object-fit: cover;
  margin-bottom: 20px;
  width: 100%;
  margin: auto;
  margin-block-start: 1em;
  margin-block-end: 0.5em;
}