body {
  overflow-x: hidden;
}



a {
  text-decoration: none;
  color: var(--md-sys-color-on-background);
  /* allows link text to trasistion to a different colour on hover  */
}
/* changes colour of link text on hover  */
a:hover {
  color: var(--md-sys-color-surface-tint);
  transition: 0.5s cubic-bezier(0.2, 0.0, 0, 1.0);
}



html, body , .container {
  height: 100%;
  margin: 0;
}



.container * {
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
  overflow: hidden;
  border-radius: 25px;
}


::-webkit-scrollbar-thumb {
  background: var(--md-sys-color-primary);
  border-radius: 25px;
  overflow: hidden;
  
}



div#content.content{
  display: flex;
  flex-direction: column;
  max-width: 980px;
  justify-content: center;
  position: relative;
  margin: auto;
  overflow-x: hidden;
}

iframe{
  overflow: clip;
  border-radius: 25px;
  justify-self: start;
  max-height: 20em;
  object-fit: cover;
  margin-bottom: 20px;
  width: 100%;
  margin: auto;
  margin-block-start: 1em;
  margin-block-end: 0.5em;
}
