

header {
    grid-area: header;
    background-color: var(--md-sys-color-secondary-container);
    
    color: var(--md-sys-color-on-surface);
    padding: 20px 0;
    margin:0px;

}
main{
    font: var(--my-title-font);
    grid-area: main;
    color: var(--md-sys-color-on-surface);
    padding: 20px 0;
    
}

footer{
    grid-area: footer;
    background-color: var(--md-sys-color-on-primary-fixed-variant);
    color: var(--md-sys-color-on-surface);
    padding: 20px 0;
}



nav ul ul li:hover {
  background-color: red;

  }
